n8n/workflows/cycle-bootstrap.json
{
  "name": "cycle-bootstrap",
  "active": true,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Cron lunes 00:05 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 0 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "node-ensure",
      "name": "POST ensure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/cycles/ensure",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-open",
      "name": "POST open",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://web:3000/api/internal/cycles/' + $json.cycleId + '/open' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    }
  ],
  "connections": {
    "Cron lunes 00:05 ART": { "main": [[{ "node": "POST ensure", "type": "main", "index": 0 }]] },
    "POST ensure": { "main": [[{ "node": "POST open", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
