n8n/workflows/escalation-check.json
{
  "name": "escalation-check",
  "active": true,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Cron lunes 09:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "node-manual",
      "name": "Disparo manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 460],
      "parameters": {}
    },
    {
      "id": "node-check",
      "name": "GET escalation-check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "http://web:3000/api/internal/users/escalation-check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-has-missing",
      "name": "Hay secretarios sin reportar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-count",
              "leftValue": "={{ $json.users.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-build-message",
      "name": "Armar mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200],
      "parameters": {
        "jsCode": "const users = $('GET escalation-check').item.json.users;\nconst names = users.map(u => '- ' + u.fullName.split(' ')[0]).join('\\n');\nconst count = users.length;\nconst text = `⚠️ Alerta de cumplimiento — ${count} secretario(s) llevan 2+ semanas sin reportar:\\n${names}`;\nreturn [{ json: { text, count } }];"
      }
    },
    {
      "id": "node-send-waha",
      "name": "POST WAHA sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 200],
      "parameters": {
        "method": "POST",
        "url": "http://wppconnect:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Api-Key", "value": "={{ $env.WPPCONNECT_SECRET_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "session": "={{ $env.WAHA_SESSION }}",
          "chatId": "5491158791245@c.us",
          "text": "={{ $json.text }}"
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-skip",
      "name": "Sin alertas (todos reportaron)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Cron lunes 09:00 ART": { "main": [[{ "node": "GET escalation-check", "type": "main", "index": 0 }]] },
    "Disparo manual": { "main": [[{ "node": "GET escalation-check", "type": "main", "index": 0 }]] },
    "GET escalation-check": { "main": [[{ "node": "Hay secretarios sin reportar?", "type": "main", "index": 0 }]] },
    "Hay secretarios sin reportar?": {
      "main": [
        [{ "node": "Armar mensaje", "type": "main", "index": 0 }],
        [{ "node": "Sin alertas (todos reportaron)", "type": "main", "index": 0 }]
      ]
    },
    "Armar mensaje": { "main": [[{ "node": "POST WAHA sendText", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
