n8n/workflows/group-reminder-thursday.json
{
  "name": "group-reminder-thursday",
  "active": true,
  "nodes": [
    {
      "id": "node-cron",
      "name": "Cron jueves 13:00 UTC (10:00 ART)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * 4"
            }
          ]
        }
      }
    },
    {
      "id": "node-get-msg",
      "name": "GET group-notifications thursday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "http://web:3000/api/internal/group-notifications?type=thursday",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-check-send",
      "name": "Enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-send",
              "leftValue": "={{ $json.send }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-send-waha",
      "name": "POST WAHA sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "http://wppconnect:3000/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $env.WPPCONNECT_SECRET_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "session", "value": "default" },
            { "name": "chatId", "value": "={{ $('GET group-notifications thursday').item.json.chatId }}" },
            { "name": "text",   "value": "={{ $('GET group-notifications thursday').item.json.text }}" }
          ]
        },
        "options": { "timeout": 20000 }
      }
    },
    {
      "id": "node-skip",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Cron jueves 13:00 UTC (10:00 ART)": {
      "main": [[{ "node": "GET group-notifications thursday", "type": "main", "index": 0 }]]
    },
    "GET group-notifications thursday": {
      "main": [[{ "node": "Enviar?", "type": "main", "index": 0 }]]
    },
    "Enviar?": {
      "main": [
        [{ "node": "POST WAHA sendText", "type": "main", "index": 0 }],
        [{ "node": "Skip", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
