n8n/workflows/inbound-message-handle.json
{
  "name": "inbound-message-handle",
  "id": "3QEsHEsfC4nbO77L",
  "active": true,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-inbound",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-inbound",
      "name": "POST inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/messages/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-check-discarded",
      "name": "Descartado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-discarded",
              "leftValue": "={{ $json.discarded }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 160],
      "parameters": { "respondWith": "noData", "options": {} }
    },
    {
      "id": "node-check-audio",
      "name": "Es audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 440],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "audio",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-transcribe",
      "name": "POST transcriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 340],
      "parameters": {
        "method": "POST",
        "url": "http://transcriber:8000/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $('POST inbound').item.json.audioPath }) }}",
        "options": { "timeout": 180000 }
      }
    },
    {
      "id": "node-attach",
      "name": "POST attach-transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 340],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://web:3000/api/internal/messages/' + $('POST inbound').item.json.id + '/attach-transcription' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, duration_sec: $json.duration_sec, model: $json.model }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-respond-done",
      "name": "Respond done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": { "respondWith": "noData", "options": {} }
    }
  ],
  "connections": {
    "Webhook WAHA": { "main": [[{ "node": "POST inbound", "type": "main", "index": 0 }]] },
    "POST inbound": { "main": [[{ "node": "Descartado?", "type": "main", "index": 0 }]] },
    "Descartado?": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }],
        [{ "node": "Es audio?", "type": "main", "index": 0 }]
      ]
    },
    "Es audio?": {
      "main": [
        [{ "node": "POST transcriber", "type": "main", "index": 0 }],
        [{ "node": "Respond done", "type": "main", "index": 0 }]
      ]
    },
    "POST transcriber": { "main": [[{ "node": "POST attach-transcription", "type": "main", "index": 0 }]] },
    "POST attach-transcription": { "main": [[{ "node": "Respond done", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
