n8n/workflows/inbound-message-handle.json
{
  "name": "inbound-message-handle",
  "id": "3QEsHEsfC4nbO77L",
  "active": true,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-inbound",
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-inbound",
      "name": "POST inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/messages/inbound",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-check-discarded",
      "name": "Descartado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-discarded",
              "leftValue": "={{ $json.discarded }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 160],
      "parameters": { "respondWith": "noData", "options": {} }
    },
    {
      "id": "node-check-audio",
      "name": "Es audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 440],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "audio",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-path",
              "leftValue": "={{ $json.audioPath }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-transcribe",
      "name": "POST transcriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 340],
      "parameters": {
        "method": "POST",
        "url": "http://transcriber:8000/transcribe",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $('POST inbound').item.json.audioPath }) }}",
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "node-attach",
      "name": "POST attach-transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 340],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://web:3000/api/internal/messages/' + $('POST inbound').item.json.id + '/attach-transcription' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, duration_sec: $json.duration_sec, model: $json.model }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-classify",
      "name": "POST classify-intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 440],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/classify-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageId: $('POST inbound').item.json.id }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-check-absence",
      "name": "Es ausencia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 440],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-absence",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "absence_request",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-pause",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "weekly_pause",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      }
    },
    {
      "id": "node-absence",
      "name": "POST absence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/messages/absence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageId: $('POST inbound').item.json.id }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-respond-absence",
      "name": "Respond absence",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300],
      "parameters": { "respondWith": "noData", "options": {} }
    },
    {
      "id": "node-extract",
      "name": "POST extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 580],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageId: $('POST inbound').item.json.id }) }}",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-check-report",
      "name": "Tiene reportId?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 440],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-report-id",
              "leftValue": "={{ $json.reportId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-respond-skip",
      "name": "Respond skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 560],
      "parameters": { "respondWith": "noData", "options": {} }
    },
    {
      "id": "node-assess",
      "name": "POST assess-completeness",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 340],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/assess-completeness",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reportId: $('POST extract').item.json.reportId }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-check-followup",
      "name": "Necesita followup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2440, 340],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-needs-followup",
              "leftValue": "={{ $json.needs_followup }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-respond-no-followup",
      "name": "Respond no followup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 460],
      "parameters": { "respondWith": "noData", "options": {} }
    },
    {
      "id": "node-followup-question",
      "name": "POST followup-question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2660, 220],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/followup-question",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reportId: $('POST extract').item.json.reportId, topic: $('POST assess-completeness').item.json.suggested_question_topic }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "node-respond-done",
      "name": "Respond done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2880, 220],
      "parameters": { "respondWith": "noData", "options": {} }
    }
  ],
  "connections": {
    "Webhook WAHA": { "main": [[{ "node": "POST inbound", "type": "main", "index": 0 }]] },
    "POST inbound": { "main": [[{ "node": "Descartado?", "type": "main", "index": 0 }]] },
    "Descartado?": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }],
        [{ "node": "Es audio?", "type": "main", "index": 0 }]
      ]
    },
    "Es audio?": {
      "main": [
        [{ "node": "POST transcriber", "type": "main", "index": 0 }],
        [{ "node": "POST classify-intent", "type": "main", "index": 0 }]
      ]
    },
    "POST transcriber": { "main": [[{ "node": "POST attach-transcription", "type": "main", "index": 0 }]] },
    "POST attach-transcription": { "main": [[{ "node": "POST classify-intent", "type": "main", "index": 0 }]] },
    "POST classify-intent": { "main": [[{ "node": "Es ausencia?", "type": "main", "index": 0 }]] },
    "Es ausencia?": {
      "main": [
        [{ "node": "POST absence", "type": "main", "index": 0 }],
        [{ "node": "POST extract", "type": "main", "index": 0 }]
      ]
    },
    "POST absence": { "main": [[{ "node": "Respond absence", "type": "main", "index": 0 }]] },
    "POST extract": { "main": [[{ "node": "Tiene reportId?", "type": "main", "index": 0 }]] },
    "Tiene reportId?": {
      "main": [
        [{ "node": "POST assess-completeness", "type": "main", "index": 0 }],
        [{ "node": "Respond skip", "type": "main", "index": 0 }]
      ]
    },
    "POST assess-completeness": { "main": [[{ "node": "Necesita followup?", "type": "main", "index": 0 }]] },
    "Necesita followup?": {
      "main": [
        [{ "node": "POST followup-question", "type": "main", "index": 0 }],
        [{ "node": "Respond no followup", "type": "main", "index": 0 }]
      ]
    },
    "POST followup-question": { "main": [[{ "node": "Respond done", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
