n8n/workflows/weekly-process.json
{
  "name": "weekly-process",
  "id": "weekly-process-001",
  "active": false,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Cron viernes 19:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 220],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "node-trigger",
      "name": "Disparo manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 380],
      "parameters": {}
    },
    {
      "id": "node-get-cycle",
      "name": "Obtener ciclo activo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "http://web:3000/api/internal/cycles/current",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-close",
      "name": "Cerrar ciclo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://web:3000/api/internal/cycles/' + $json.cycleId + '/close' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-consolidate",
      "name": "Generar consolidado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/consolidate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ cycleId: $('Obtener ciclo activo').first().json.cycleId }) }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-draft-instagram",
      "name": "Draft Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 180],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/draft-publication",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ cycleId: $('Obtener ciclo activo').first().json.cycleId, kind: 'social_instagram' }) }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-draft-x",
      "name": "Draft X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/draft-publication",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ cycleId: $('Obtener ciclo activo').first().json.cycleId, kind: 'social_x' }) }}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-draft-newsletter",
      "name": "Draft Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 420],
      "parameters": {
        "method": "POST",
        "url": "http://web:3000/api/internal/ai/draft-publication",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ cycleId: $('Obtener ciclo activo').first().json.cycleId, kind: 'newsletter' }) }}",
        "options": { "timeout": 120000 }
      }
    }
  ],
  "connections": {
    "Cron viernes 19:00 ART": {
      "main": [
        [{ "node": "Obtener ciclo activo", "type": "main", "index": 0 }]
      ]
    },
    "Disparo manual": {
      "main": [
        [{ "node": "Obtener ciclo activo", "type": "main", "index": 0 }]
      ]
    },
    "Obtener ciclo activo": {
      "main": [
        [{ "node": "Cerrar ciclo", "type": "main", "index": 0 }]
      ]
    },
    "Cerrar ciclo": {
      "main": [
        [{ "node": "Generar consolidado", "type": "main", "index": 0 }]
      ]
    },
    "Generar consolidado": {
      "main": [
        [
          { "node": "Draft Instagram", "type": "main", "index": 0 },
          { "node": "Draft X", "type": "main", "index": 0 },
          { "node": "Draft Newsletter", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
