n8n/workflows/weekly-cycle-close.json
{
  "name": "weekly-cycle-close",
  "active": true,
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Cron viernes 18:00 ART",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "node-current",
      "name": "GET ciclo actual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "http://web:3000/api/internal/cycles/current",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-check-open",
      "name": "Ciclo abierto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-open",
              "leftValue": "={{ $json.status }}",
              "rightValue": "open",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-close",
      "name": "POST close",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://web:3000/api/internal/cycles/' + $('GET ciclo actual').item.json.cycleId + '/close' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.INTERNAL_API_SECRET }}" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-skip",
      "name": "Skip (ciclo no abierto)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Cron viernes 18:00 ART": { "main": [[{ "node": "GET ciclo actual", "type": "main", "index": 0 }]] },
    "GET ciclo actual": { "main": [[{ "node": "Ciclo abierto?", "type": "main", "index": 0 }]] },
    "Ciclo abierto?": {
      "main": [
        [{ "node": "POST close", "type": "main", "index": 0 }],
        [{ "node": "Skip (ciclo no abierto)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
